.flex_content {
  display: flex;
}

.txt {
  width: 50%;
}

.illustration {
  width: 50%;
}

.filigrane {
  width: 100%;
}

.descript {
  background-color: rgba(255, 255, 255, 0.267);
  padding: 4%;
  border-radius: 15px;
  margin: 3%;
  margin-top: 6%;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.niveau {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.filigrane_phone {
  display: none;
}

@media screen and (max-width: 1200px) {

  .illustration {
    width: 0;
  }

  .txt {
    width: 100%;
  }

  .filigrane_phone {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .flex_content {
    display: flex;
    flex-direction: column;
  }
  .descript {
    background-color: rgba(255, 255, 255, 0.267);
    padding: 4%;
    border-radius: 15px;
    margin: 3%;
    margin-top: 6%;
    font-size: 200%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .intro {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 200%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  h1 {
    margin-top: 7%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 340%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .niveau {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 190%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}