* {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    position: relative;
  }
  
  body::-webkit-scrollbar {
    width: 10px; 
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(67, 67, 67);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    border: 2px solid rgb(67, 67, 67);
    border-radius: 20px;
  }

  .burger_icon {
    width: 100%;
  }

  .burger_li {
    display: block;
    width: 75px;
    margin-left: 8px;
  }
  
  .topnav {
    height:60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: -5%;
    background-color: #000755;
    transition: top 0.5s ease;
    list-style-type: none;
    box-shadow: 0px 0px 5px black;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .topnav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: #ffffff;
    transition: 0.3s;
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
  }
  
  .topnav a:hover {
    color: #6f6f6f;
  }
  
  .topnav .active {
    color: #6e6e6e;
  }
  
  .topnav .active:hover {
    color: #ffffff;
  }
  
  .topnav.open {
    top: 75px;
  }
  
  .banner.open {
    box-shadow: none;
  }
  
  .banner {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #000755;
    margin-top: 0px;
    z-index: 2;
    box-shadow: 0px 0px 5px black;
    text-align: center;
  }
  
  .title_page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    color: #ffffff;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .plongeur {
    float: right;
    width: 75px;
    height: 75px;
    margin-right: 8px;
  }
  
  .content {
    width: 100%;
    top: 75px;
    position: absolute;
    background: linear-gradient(to bottom, rgb(0, 0, 170) 0%,rgb( 0, 0, 90)  40%, rgb( 0, 0, 50) 100%);
  }
  
  .corp {
    color: white;
    margin-bottom: 50px;
  }
  
  footer {
    background: linear-gradient(to bottom, rgb(0, 0, 30) 0%, rgb(0, 0, 37) 100%);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .logo_uca {
    width: 50px;
  }
  
  .footer_text {
    margin-left: 8px;
    width: 120px;
    color: rgb(140, 140, 140);
    font-size: 15px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .nom {
    margin-right: 8px;
    width: 120px;
    text-align: center;
    color: rgb(140, 140, 140);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
  }
  
  @media screen and (max-width: 1200px) {
    
    .topnav {
      display: flex;
      flex-direction: column;
      float: left;
      position: fixed;
      padding-top: 10%;
      left: -70%;
      top: 10%;
      background-color: rgb(10 0 89);
      height: 100%;
      width: 70%;
      font-size: 100%;
      justify-content: flex-start;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: 1.1s;
      z-index: 1;
      border-radius: 0;
      align-items: baseline;
  }
    
    .topnav a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 300%;
      transition: 0.3s;
      padding-top: 10%;
      padding-bottom: 10%;
      padding-left: 25%;
      color: white;
      text-decoration: none;
      z-index: 3;
    }
    
    .topnav a:hover {
      color: #6f6f6f;
    }
    
    .topnav .active {
      color: #6e6e6e;
      text-decoration: none;
    }
    
    .topnav .active:hover {
      color: #6e6e6e;
    }
    
    .topnav.open {
      top: 10%;
      left: 0;
    }

    .banner.open {
      box-shadow: 0px 0px 5px black;
    }
  
    .banner {
      font-size: 150%;
      height: 10%;
    }

    .burger_li {
      width: 170px;
      margin-left: 2%;
    }

    .burger_icon {
      width: 170px;
    }

    .plongeur {
      width: 175px;
      height: 175px;
    }
  
    .content {
      top: 10%;
    }

    footer {
      height: 125px;
    }

    .footer_text {
      width: 25%;
      font-size: 200%;
    }

    .nom {
      width: 25%;
      font-size: 200%;
    }

    .logo_uca {
      width: 125px;
    }

    .corp {
      margin-bottom: 125px;
      padding-bottom: 7%;
    }
  }